#next {
  width: 178px;
  padding: 2px;
  background-color: rgba(255, 255, 255, 0.5);
  margin: 15px auto;
  border-radius: 3px;
  cursor: pointer;
  box-shadow: 2px 3px 8px black;
  text-align: center;
  position: relative;
  transition: all 0.2s;
}

#gra {
      width: 98px;
  padding: 12px;
  background-color:#38f490;
  margin: 0 auto;
  border-radius: 3px;
  cursor: pointer;
  box-shadow: 2px 3px 8px black;
  text-align: center;
  position: relative;
  transition: all 0.2s;

}
#quiz {
    display: none;
    height: 405x;
    width: 550px;
}

#question {
    display: none;
    padding: 15px;
    background: yellow;
    border: 1px black solid;
    }

#score {
 display: none; 
}

.btn{
padding: 1px;   
}


.odp {
    margin-top: 5px; 
}

